<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/internal-nlog.log">

  <targets>
    <target xsi:type="File" name="file"
            fileName="${basedir}/logs/${shortdate}.log"
            archiveFileName="${basedir}/logs/archives/${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner=${newline}${exception:format=ToString}}" />

    <target xsi:type="Console" name="console"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner=${newline}${exception:format=ToString}}" />
  </targets>

  <rules>
    <!-- Riduci rumore framework -->
    <logger name="Microsoft.*" minlevel="Warn" writeTo="file,console" final="true" />
    <logger name="System.Net.Http.*" minlevel="Warn" writeTo="file,console" final="true" />
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Warn" writeTo="file,console" final="true" />
    <logger name="Hangfire.*" minlevel="Warn" writeTo="file,console" final="true" />

    <!-- App -->
    <logger name="*" minlevel="Info" writeTo="file,console" />
  </rules>
</nlog>