CREATE TABLE dbo.DatiMailIngestion (Id INT IDENTITY(1,1) NOT NULL, CodiceServizio NVARCHAR(50) NOT NULL, DataRiferimento DATE NOT NULL, TipoDato NVARCHAR(100) NOT NULL, Centro NVARCHAR(50) NULL, Quantita INT NOT NULL, DataIngestione DATETIME2 NOT NULL DEFAULT GETUTCDATE(), Elaborata BIT NOT NULL DEFAULT 0, ElaborataIl DATETIME2 NULL, ElaborataDaTaskId INT NULL, MetadataJson NVARCHAR(MAX) NULL, CONSTRAINT PK_DatiMailIngestion PRIMARY KEY CLUSTERED (Id ASC), CONSTRAINT UQ_DatiMailIngestion_Servizio_Data_Tipo_Centro UNIQUE (CodiceServizio, DataRiferimento, TipoDato, Centro)); CREATE NONCLUSTERED INDEX IX_DatiMailIngestion_Elaborata_Servizio_Data ON dbo.DatiMailIngestion (CodiceServizio, DataRiferimento, TipoDato, Centro) INCLUDE (Quantita, Elaborata, Id) WHERE Elaborata = 0; CREATE NONCLUSTERED INDEX IX_DatiMailIngestion_DataIngestione ON dbo.DatiMailIngestion (DataIngestione DESC);
