
input {
    text-transform: uppercase;
}

.mud-table-head .header-centered th {
    text-align: center;
    font-size: 1.2em;
    border: 1px solid lightgrey;
}

.mud-table-foot .bold-text .mud-table-cell {
    font-weight: 500;
}

th {
    border: 1px solid lightgrey;
}


#chartdiv {
    width: 100%;
    height: 800px;
}



/* devices 1280px and down */
@media only screen and (max-width: 1280px) {
    /*h4*/
    .mud-primary-text.titolo-lavorazione {
        font-size: 1.33em;
    }
}

.mud-typography-h4.titolo {
    color: rgba(13,71,161)
}



html, body {
    margin: 0;
    height: 100%; /* can also use viewport units (height: 100vh) */
}



/* Centra le icone nella versione Mini e sistema lo spazio per le frecce */
.sidebar-moderna .mud-nav-link {
    padding-left: 20px !important; /* Regola questo valore per centrare l'icona nel tuo spazio */
}

/* Nasconde la freccia di espansione quando il drawer è chiuso (Mini) */
.mud-drawer--mini:not(.mud-drawer--open) .mud-nav-group-expand-arrow {
    display: none;
}

/* Rende le icone più visibili e blu quando attive */
.sidebar-moderna .mud-nav-link.active {
    background-color: rgba(30, 136, 229, 0.1);
    color: #1E88E5 !important;
}

.sidebar-moderna .mud-nav-link.active .mud-nav-link-icon {
    color: #1E88E5 !important;
}



/* Centra le icone quando il drawer è in modalità Mini */
.mud-drawer-mini .mud-nav-link {
    padding-left: 20px !important;
    display: flex;
    justify-content: center;
}

/* Sposta i link a destra solo quando il drawer è APERTO */
.mud-drawer--open .mud-nav-link {
    padding-left: 20px !important; /* Regola questi px per lo spostamento desiderato */
    justify-content: flex-start;
}

.mud-nav-link .mud-nav-link-icon {
    margin-right: 12px; /* Spazio tra icona e testo quando aperto */
}
